<!-- users/register_form.html -->
{% include 'layout/header.html' %}
<div class="border border-primary m-5 p-5">
    <h2 class="card-title text-center bg-primary text-white m-2 p-3">Register</h2>
    <form method="POST" action="">
        {% csrf_token %}
        
        <div class="form-floating mb-3">
            {{ form.username }}
            <label for="floatingUsername">{{ form.username.label }}</label>
        </div>

        <div class="form-floating mb-3">
            {{ form.email }}
            <label for="floatingEmail">{{ form.email.label }}</label>
        </div>

        <div class="form-floating mb-3">
            {{ form.password1 }}
            <label for="floatingPassword1">{{ form.password1.label }}</label>
        </div>

        <div class="form-floating mb-3">
            {{ form.password2 }}
            <label for="floatingPassword2">{{ form.password2.label }}</label>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
        <a href="{% url 'users:login' %}" class="btn btn-link">Login</a>

        {% if form.errors %}
            <div class="text-danger">
                {{ form.errors }}
            </div>
        {% endif %}
    </form>
</div>