{% extends "bases.html" %}
{% block content %}
<h1 class="border border-primary m-5 p-5">Doctors</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Specialization</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for doctor in Doctors %}
        <tr>
            <td>{{ doctor.first_name }} {{ doctor.last_name }}</td>
            <td>{{ doctor.specialization }}</td>
            <td>{{ doctor.phone_number }}</td>
            <td>{{ doctor.email }}</td>
            <td>
                <a href="{% url 'doctors:edit' doctor.id %}"><i class="fas fa-edit"></i></a>
                <a href="{% url 'doctors:delete' doctor.id %}" class="text-danger">
                    <i class="fas fa-trash-alt"></i></a>
                <a href="{% url 'doctors:showdetail' doctor.id %}">showdetail</i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}